<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>Bienvenidxs al SIMULADOR DE EXAMENES by Patato</h1>
      <p>Dedicado para mi amiga Sara y sus examenes de ecologia</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <div class="jumbotron">
        <h2>Modo de empleo</h2>
        <ol>
          <li>Puedes comprobar las preguntas en la seccion listar preguntas</li>
          <li>Entra en la seccion de examenes y alli:<ul>
            <li>Puedes generar un examen con x preguntas aleatorias que eliges arriba</li>
            <li>Puedes generar un examen con todas las preguntas (Haz click dos veces para generarlo)</li>
          </ul></li>
          <li>Con el tipo de examen que quieras generado puedes dar start al timer (40 segundos por cada pregunta)</li>
          <li>Deberas contestar en orden dandole a enviar en cada pregunta, haz click solo una vez o la lias</li>
          <li>Una vez enviadas todas las preguntas podras corregir el examen con el boton corregir al principio de la pagina</li>
          <li>Mucha suerte!!!</li>
        </ol>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="jumbotron">
        <h2>Bugs</h2>
        <ul>
          <li>Necesario enviar las preguntas en orden</li>
          <li>Cuando el timer llega a cero sigue la cuente hacia numero negativos</li>
          <li>Para generar el examen completo hay que pulsar dos veces el boton</li>
          <li>No se desactiva el boton de enviar al pulsarlo una vez</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="jumbotron">
        <p>Para reportar cualquier tipo de bug o sugerir mejoras contacta por instagram con @patatocracia o twitter @craciapatato</p>
      </div>
    </div>
  </div>
</div>
