<div class="container-fluid">
  <div class="alert alert-success" *ngIf="status == 'Success'">
    Registro de usuario completado correctamente, <a [routerLink]="['/messages/login']">identificate aqui</a>
  </div>
  <div class="alert alert-danger" *ngIf="status == 'Error'">
    El registro no se ha podido completar, quiza alguno de los datos ya este en uso.
  </div>
  <form class="col-md-12" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
    <div class="form-group">
      <label>Titulo</label>
      <input type="text" class="form-control" #title="ngModel" name="pregunta-titulo" [(ngModel)]="pregunta.title" placeholder="Titulo">
    </div>
    <div class="form-group">
      <label>Text</label>
      <input type="text" class="form-control" #text="ngModel" name="pregunta-text" [(ngModel)]="pregunta.text" placeholder="Texto">
    </div>
    <div class="form-group">
      <label>Respuesta (true o false)</label>
      <input type="text" class="form-control" #response="ngModel" name="pregunta-response" [(ngModel)]="pregunta.response" placeholder="Titulo">
    </div>
    <input type="submit" value="Crear Pregunta">
  </form>
</div>
