
<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs d-flex flex-row justify-content-center">
  <li [ngbNavItem]="1">
    <a ngbNavLink>Inicio</a>
    <ng-template ngbNavContent>
      <app-inicio></app-inicio>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>Insertar Preguntas</a>
    <ng-template ngbNavContent>
      <app-register></app-register>
      </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink>Listar preguntas</a>
    <ng-template ngbNavContent>
      <app-lista-preguntas></app-lista-preguntas>
    </ng-template>
  </li>
  <li [ngbNavItem]="4">
    <a ngbNavLink>Examen</a>
    <ng-template ngbNavContent>
      <app-examen></app-examen>
      </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
