<div class="">
  <label>Introduce el numero de preguntas</label>
  <input type="number" [ngModel]="numeroPreguntas" (ngModelChange)="changeNumber($event)" min="1" max="40">
</div>

<div class="">
  <button type="button" (click)="generateExam()">Generar examen</button>
</div>
<div class="sticky-top container bg-warning d-flex flex-row justify-content-around">
  <div class="botones">
    <button (click)='startTimer()' class="btn">Start Timer</button>
    <button (click)='pauseTimer()' class="btn">Pause</button>
  </div>
  <div class="timer">
    <p>{{timeLeft}} Seconds Left....</p>
  </div>
</div>

<div class="" *ngIf="status == true">
  <div class="jumbotron" *ngFor="let pregunta of preguntas; index as i">
    <h3>{{pregunta.title}}</h3>
    <p>{{pregunta.text}}</p>
    <form #responseForm="ngForm" (ngSubmit)="onSubmit(responseForm)">
      <select class="" ngModel name="respuesta" #respuesta="ngModel">
        <option value="true">True</option>
        <option value="false">False</option>
      </select>
      <label>No cambiar uwu</label>
      <input type="text" name="iteracion2" ngModel #iteracion2="ngModel" placeholder="{{i}}">
      <p>
        <input type="submit" value="Corregir">
      </p>
    </form>
    <span *ngIf="correccion[{{iteracion}}] == true">Correcto</span>
    <span *ngIf="correccion[{{iteracion}}] == false">Incorrecto</span>
  </div>
</div>
