<div class="">
  <label>Introduce el numero de preguntas</label>
  <input type="number" [ngModel]="numeroPreguntas" (ngModelChange)="changeNumber($event)" min="1" max="40">
</div>

<div class="">
  <button type="button" (click)="generateExam()">Generar examen</button>
</div>
<div class="sticky-top container bg-warning d-flex flex-row justify-content-around">
  <div class="botones">
    <button (click)='startTimer()' class="btn">Start Timer</button>
    <button (click)='pauseTimer()' class="btn">Pause</button>
  </div>
  <div class="timer">
    <p>{{timeLeft}} Seconds Left....</p>
  </div>
</div>

<div class="" *ngIf="status == true">
  <div class="jumbotron" *ngFor="let pregunta of preguntas; index as i">
    <h3>{{pregunta.title}}</h3>
    <p>{{pregunta.text}}</p>
    <form class="" #responseForm{{i}}="ngForm" (onSubmit)="onSubmit()">
      <p>
        True -> <input [ngModel]="respuesta" (ngModelChange)="changeRadio($event)" type="radio" name="respuesta{{i}}" value="true">
      </p>
      <p>
        False -> <input [ngModel]="respuesta" (ngModelChange)="changeRadio($event)" type="radio" name="respuesta{{i}}" value="false">
      </p>
      <p>
        <input type="submit" value="Corregir">
      </p>
      <input type="hidden" name="iteracion" [(ngModel)]="iteracion" value="{{i}}">
      <span *ngIf="correccion == true">Correcto</span>
      <span *ngIf="correccion == false">Incorrecto</span>
    </form>
  </div>
</div>
